@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Access keys to your Trakt and Plex account are only stored temporarily, and not shared with anyone else than Trakt and Plex.</p>
<p>The access keys are deleted as soon as you leave this website, or after 20 minutes. If you want to delete them manually, you can do so by pressing the logout buttons for either service.</p>
<p>I do not store any other data, for any purpose.</p>
